{% load static %}

<html>
<head>
    <meta charset="utf-8">
    <title>NinelTour</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.ico' %}">
  </head>
<body>
<header>
    <div id="header_left">
        <img src="{% static 'img/logo.ico' %}">
        <div id="title">NinelTour</div>
    </div>
    <div id="header_right">
        <span id="slogan">Лучшее турагентство с заботой о Вас ❤</span>
    </div>
</header>
<main>
    <p>Уважаемые клиенты, мы рады приветствовать Вас на страничке нашего лучшего турагентства!</p>
    <p>У нас вы можете выбрать подходящий отель в нужной стране, удобные перелеты и оформить заказ.</p>
    <p>Мы в свою очередь гарантируем Вам помощь по всем вопросам в любое время!</p>
    <p id="bottom_text">Интересных поедок и незабываемых путешествий! С любовью, NinelTour ❤</p>
</main>
<footer>
    <span>2021</span>
    <span>Ninel's Production</span>
</footer>
</body>
</html>